In [1]:
#판다스는 데이터 테이블 형태의 2차원 데이터를 다룬다.
#-판다스는 기본적으로 넘파이를 다루고 wrapper 라이브러리로 사용한다. 
#데이터 프레임 = 데이터 테이블 전체를 다루는 객체 
#시리즈 = 리스트,튜블,넘파이 배열의 1차원 자료구조 - 데이터프레임의 한 행 or 열 
#시리즈 객체 - >피쳐 벡터와 같은 개념으로 사용. 
#인덱스 -> 항상 0부터 시작하고 숫자로만 할당 가능했으나, 시리즈 객체에서는 문자열도 가능. 
#데이터 타입 -> 넘파이의 데이터 타입과 일치함.

In [10]:
import pandas as pd 
import numpy as np 
from pandas import Series, DataFrame 

list_data = [1,2,3,4,5] 
list_name = ["a","b","c","d","e"]
example_obj = Series(data = list_data,index = list_name) #data로는 list_data를 쓰고, index로는 list_name을 사용 
print(example_obj,"\n")
print(example_obj.index,"\n")
print(example_obj.values,"\n")
print(type(example_obj.values))

a    1
b    2
c    3
d    4
e    5
dtype: int64

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [13]:
example_obj.name="number" #데이터 프레임 이름 지정 
example_obj.index.name="id" #인덱스 이름 지정 
example_obj

id
a    1
b    2
c    3
d    4
e    5
Name: number, dtype: int64

In [15]:
dict_data = {"a":1,"b":2,"c":3,"d":4,"e":5} #키 값은 인덱스로 사용
example_obj = Series(dict_data, dtype=np.float32, name="example_data") #value 값은 데이터로 사용 ,datatype, 데이터 열 이름 지정 가능 
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [9]:
import pandas as pd
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data=pd.read_csv(data_url,sep='\\s+',header=None) ##csv 데이터 로드 , \\s+ -> 스페이스 한 개 이상으로 구분한다. 
df = pd.DataFrame(df_data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [17]:
from pandas import Series, DataFrame

raw_data={'first_name':['Jason','Molly','Tina','Jake','Amy'],
          'last_name':['Miller','Jacob','Ali','Cooze','Milner'],
          'age':[42,52,22,24,71],
          'city':['San Francisco','Baltimore','Miami','Douglas','Boston']
          }
df=pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age','city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly     Jacob   52      Baltimore
2       Tina       Ali   22          Miami
3       Jake     Cooze   24        Douglas
4        Amy    Milner   71         Boston