In [1]:
#판다스는 데이터 테이블 형태의 2차원 데이터를 다룬다.
#-판다스는 기본적으로 넘파이를 다루고 wrapper 라이브러리로 사용한다. 
#데이터 프레임 = 데이터 테이블 전체를 다루는 객체 
#시리즈 = 리스트,튜블,넘파이 배열의 1차원 자료구조 - 데이터프레임의 한 행 or 열 
#시리즈 객체 - >피쳐 벡터와 같은 개념으로 사용. 
#인덱스 -> 항상 0부터 시작하고 숫자로만 할당 가능했으나, 시리즈 객체에서는 문자열도 가능. 
#데이터 타입 -> 넘파이의 데이터 타입과 일치함.

In [10]:
import pandas as pd 
import numpy as np 
from pandas import Series, DataFrame 

list_data = [1,2,3,4,5] 
list_name = ["a","b","c","d","e"]
example_obj = Series(data = list_data,index = list_name) #data로는 list_data를 쓰고, index로는 list_name을 사용 
print(example_obj,"\n")
print(example_obj.index,"\n")
print(example_obj.values,"\n")
print(type(example_obj.values))

a    1
b    2
c    3
d    4
e    5
dtype: int64

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [13]:
example_obj.name="number" #데이터 프레임 이름 지정 
example_obj.index.name="id" #인덱스 이름 지정 
example_obj

id
a    1
b    2
c    3
d    4
e    5
Name: number, dtype: int64

In [15]:
dict_data = {"a":1,"b":2,"c":3,"d":4,"e":5} #키 값은 인덱스로 사용
example_obj = Series(dict_data, dtype=np.float32, name="example_data") #value 값은 데이터로 사용 ,datatype, 데이터 열 이름 지정 가능 
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [9]:
import pandas as pd
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data=pd.read_csv(data_url,sep='\\s+',header=None) ##csv 데이터 로드 , \\s+ -> 스페이스 한 개 이상으로 구분한다. 
df = pd.DataFrame(df_data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [17]:
from pandas import Series, DataFrame

raw_data={'first_name':['Jason','Molly','Tina','Jake','Amy'],
          'last_name':['Miller','Jacob','Ali','Cooze','Milner'],
          'age':[42,52,22,24,71],
          'city':['San Francisco','Baltimore','Miami','Douglas','Boston']
          }
df=pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age','city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly     Jacob   52      Baltimore
2       Tina       Ali   22          Miami
3       Jake     Cooze   24        Douglas
4        Amy    Milner   71         Boston

In [18]:
## 5월 9일 
pip install --upgrade pip

Requirement already satisfied: pip in c:\work\machinerunning\.venv\lib\site-packages (23.2.1)Note: you may need to restart the kernel to use updated packages.

Collecting pip
  Obtaining dependency information for pip from https://files.pythonhosted.org/packages/8a/6a/19e9fe04fca059ccf770861c7d5721ab4c2aebc539889e97c7977528a53b/pip-24.0-py3-none-any.whl.metadata
  Downloading pip-24.0-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.0-py3-none-any.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB 5.2 MB/s eta 0:00:01
   -------------- ------------------------- 0.7/2.1 MB 7.8 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 9.9 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 9.6 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.2.1
    Uninstalling pip-23.2.1:
      Successfully uninstalled pip-23.2.1
Successfully installed pip-24.0

In [19]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\work\machinerunning\.venv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\work\machinerunning\.venv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [82]:
import pandas as pd
data_url = 'C:/work/machineRunning/data_1.csv'
try:
    df = pd.read_csv(
        data_url,
        header=1,  # 파일에 열 이름이 없다고 가정
        # names=['A', 'B', 'C', 'D', 'E', 'F'],  # 열 이름 지정
        quotechar='"',  # 큰따옴표로 묶인 필드 처리
        sep=',',  # 쉼표로 구분
        # engine='python',  # C 엔진에서 문제 발생 시 파이썬 엔진 사용
        encoding='cp949'
        )
except Exception as e:
    print("파일 읽기 중 오류 발생:", e)
df

,일반음식점,여자만궁중칼국수,충청북도 청주시 상당구 가덕면 미천고은로 114,충청북도 청주시 상당구 가덕면 국전리 226,043 -292 -4566,한식
0,일반음식점,청남대화련가든1,"충청북도 청주시 상당구 가덕면 미천고은로 90-12, 1층",충청북도 청주시 상당구 가덕면 국전리 233-1 1층,043 -298 -4500,한식
1,일반음식점,청남대화련가든,NaN,충청북도 청주시 상당구 가덕면 국전리 233-1 2층,043 -298 -4500,한식
2,일반음식점,광동성,충청북도 청주시 상당구 가덕면 단재로 1625,충청북도 청주시 상당구 가덕면 금거리 161-1,043- 298-3995,한식
3,일반음식점,퇴근길호프,충청북도 청주시 상당구 가덕면 단재로 1458,충청북도 청주시 상당구 가덕면 병암리 118-5,043- 254-8583,패스트푸드
4,일반음식점,가덕반점,충청북도 청주시 상당구 가덕면 병암3길 11-2,충청북도 청주시 상당구 가덕면 병암리 137-9,043- 254-5271,중국식
...,...,...,...,...,...,...
11767,일반음식점,육육,"충청북도 청주시 청원구 오창읍 오창중앙로 115-8, 104호 (동익프라자)",NaN,NaN,한식
11768,일반음식점,아우내병천집순대,"충청북도 청주시 청원구 오창읍 중심상업로 32-13, 110, 111, 112호 (...",NaN,NaN,한식
11769,일반음식점,기찬만두,"충청북도 청주시 청원구 주성로118번길 29-2, 102호 (율량동)",NaN,NaN,호프/통닭
11770,일반음식점,우암고향왕족발보쌈,"충청북도 청주시 청원구 직지대로832번길 21, 1층 (우암동)",NaN,NaN,한식
11771,일반음식점,미스문 컴패니,충청북도 청주시 청원구 내수읍 충청대로 412-5,NaN,NaN,한식

In [17]:
import pandas as pd

# CSV 파일 경로
csv_file_path = 'C:/work/machineRunning/data_1.csv'

# CSV 파일 읽기
df = pd.read_csv(csv_file_path, encoding = 'cp949')

# Excel 파일 경로
excel_file_path = 'C:/work/machineRunning/data_1.xlsx'

# DataFrame을 Excel 파일로 저장
df.to_excel(excel_file_path, index=False)  # index=False는 DataFrame의 인덱스를 파일에 포함하지 않음

In [25]:
import pandas as pd 
import numpy as np 
df = pd.read_excel ("C:/work/machineRunning/data_1.xlsx")
df.head(5)

,업종명,업소명,소재지(도로명),소재지(지번),소재지전화,업태명
0,일반음식점,여자만궁중칼국수,충청북도 청주시 상당구 가덕면 미천고은로 114,충청북도 청주시 상당구 가덕면 국전리 226,043 -292 -4566,한식
1,일반음식점,청남대화련가든1,"충청북도 청주시 상당구 가덕면 미천고은로 90-12, 1층",충청북도 청주시 상당구 가덕면 국전리 233-1 1층,043 -298 -4500,한식
2,일반음식점,청남대화련가든,NaN,충청북도 청주시 상당구 가덕면 국전리 233-1 2층,043 -298 -4500,한식
3,일반음식점,광동성,충청북도 청주시 상당구 가덕면 단재로 1625,충청북도 청주시 상당구 가덕면 금거리 161-1,043- 298-3995,한식
4,일반음식점,퇴근길호프,충청북도 청주시 상당구 가덕면 단재로 1458,충청북도 청주시 상당구 가덕면 병암리 118-5,043- 254-8583,패스트푸드

In [26]:
## 데이터 추출 
df[["업종명","업소명","업태명"]].head(3)

     업종명       업소명 업태명
0  일반음식점  여자만궁중칼국수  한식
1  일반음식점  청남대화련가든1  한식
2  일반음식점   청남대화련가든  한식

In [29]:
df.head(3).T ## 전치

,업종명,업소명,소재지(도로명),소재지(지번),소재지전화,업태명
0,일반음식점,여자만궁중칼국수,충청북도 청주시 상당구 가덕면 미천고은로 114,충청북도 청주시 상당구 가덕면 국전리 226,043 -292 -4566,한식
1,일반음식점,청남대화련가든1,"충청북도 청주시 상당구 가덕면 미천고은로 90-12, 1층",충청북도 청주시 상당구 가덕면 국전리 233-1 1층,043 -298 -4500,한식
2,일반음식점,청남대화련가든,NaN,충청북도 청주시 상당구 가덕면 국전리 233-1 2층,043 -298 -4500,한식

In [31]:
df[:5]

,업종명,업소명,소재지(도로명),소재지(지번),소재지전화,업태명
0,일반음식점,여자만궁중칼국수,충청북도 청주시 상당구 가덕면 미천고은로 114,충청북도 청주시 상당구 가덕면 국전리 226,043 -292 -4566,한식
1,일반음식점,청남대화련가든1,"충청북도 청주시 상당구 가덕면 미천고은로 90-12, 1층",충청북도 청주시 상당구 가덕면 국전리 233-1 1층,043 -298 -4500,한식
2,일반음식점,청남대화련가든,NaN,충청북도 청주시 상당구 가덕면 국전리 233-1 2층,043 -298 -4500,한식
3,일반음식점,광동성,충청북도 청주시 상당구 가덕면 단재로 1625,충청북도 청주시 상당구 가덕면 금거리 161-1,043- 298-3995,한식
4,일반음식점,퇴근길호프,충청북도 청주시 상당구 가덕면 단재로 1458,충청북도 청주시 상당구 가덕면 병암리 118-5,043- 254-8583,패스트푸드

In [33]:
df.index = df["업소명"] # 인덱스를 업소명으로 할당
del df["업소명"] # 데이터로 쓰이던 업소명 은 삭제
df.head(4)

,업종명,소재지(도로명),소재지(지번),소재지전화,업태명
업소명,,,,,
여자만궁중칼국수,일반음식점,충청북도 청주시 상당구 가덕면 미천고은로 114,충청북도 청주시 상당구 가덕면 국전리 226,043 -292 -4566,한식
청남대화련가든1,일반음식점,"충청북도 청주시 상당구 가덕면 미천고은로 90-12, 1층",충청북도 청주시 상당구 가덕면 국전리 233-1 1층,043 -298 -4500,한식
청남대화련가든,일반음식점,NaN,충청북도 청주시 상당구 가덕면 국전리 233-1 2층,043 -298 -4500,한식
광동성,일반음식점,충청북도 청주시 상당구 가덕면 단재로 1625,충청북도 청주시 상당구 가덕면 금거리 161-1,043- 298-3995,한식

In [34]:
df.loc[["광동성","퇴근길호프"],["소재지(도로명)","업태명"]]

                        소재지(도로명)    업태명
업소명
광동성    충청북도 청주시 상당구 가덕면 단재로 1625     한식
퇴근길호프  충청북도 청주시 상당구 가덕면 단재로 1458  패스트푸드

In [35]:
df.iloc[:10, :4] #10개의 행 4개의 열

,업종명,소재지(도로명),소재지(지번),소재지전화
업소명,,,,
여자만궁중칼국수,일반음식점,충청북도 청주시 상당구 가덕면 미천고은로 114,충청북도 청주시 상당구 가덕면 국전리 226,043 -292 -4566
청남대화련가든1,일반음식점,"충청북도 청주시 상당구 가덕면 미천고은로 90-12, 1층",충청북도 청주시 상당구 가덕면 국전리 233-1 1층,043 -298 -4500
청남대화련가든,일반음식점,NaN,충청북도 청주시 상당구 가덕면 국전리 233-1 2층,043 -298 -4500
광동성,일반음식점,충청북도 청주시 상당구 가덕면 단재로 1625,충청북도 청주시 상당구 가덕면 금거리 161-1,043- 298-3995
퇴근길호프,일반음식점,충청북도 청주시 상당구 가덕면 단재로 1458,충청북도 청주시 상당구 가덕면 병암리 118-5,043- 254-8583
가덕반점,일반음식점,충청북도 청주시 상당구 가덕면 병암3길 11-2,충청북도 청주시 상당구 가덕면 병암리 137-9,043- 254-5271
남가네 설악추어탕(가덕점),일반음식점,"충청북도 청주시 상당구 가덕면 단재로 1484, 주3동 1층",충청북도 청주시 상당구 가덕면 병암리 159-1 주3동,NaN
늘찬굴림만두,일반음식점,"충청북도 청주시 상당구 가덕면 단재로 1410, 1층",충청북도 청주시 상당구 가덕면 병암리 238-5,043 -292 -1555
강촌곤드레,일반음식점,"충청북도 청주시 상당구 가덕면 단재로 1414, 1층","충청북도 청주시 상당구 가덕면 병암리 238-9 외1필지(238-2)(주2,주4)",043 -287 -7724
너나드리,일반음식점,충청북도 청주시 상당구 가덕면 단재로 1396,"충청북도 청주시 상당구 가덕면 병암리 268-2 268-2,5",043 -292 -2223

In [37]:
df_new = df.reset_index() ## 인덱스 리셋 
df_new

,업소명,업종명,소재지(도로명),소재지(지번),소재지전화,업태명
0,여자만궁중칼국수,일반음식점,충청북도 청주시 상당구 가덕면 미천고은로 114,충청북도 청주시 상당구 가덕면 국전리 226,043 -292 -4566,한식
1,청남대화련가든1,일반음식점,"충청북도 청주시 상당구 가덕면 미천고은로 90-12, 1층",충청북도 청주시 상당구 가덕면 국전리 233-1 1층,043 -298 -4500,한식
2,청남대화련가든,일반음식점,NaN,충청북도 청주시 상당구 가덕면 국전리 233-1 2층,043 -298 -4500,한식
3,광동성,일반음식점,충청북도 청주시 상당구 가덕면 단재로 1625,충청북도 청주시 상당구 가덕면 금거리 161-1,043- 298-3995,한식
4,퇴근길호프,일반음식점,충청북도 청주시 상당구 가덕면 단재로 1458,충청북도 청주시 상당구 가덕면 병암리 118-5,043- 254-8583,패스트푸드
...,...,...,...,...,...,...
11768,육육,일반음식점,"충청북도 청주시 청원구 오창읍 오창중앙로 115-8, 104호 (동익프라자)",NaN,NaN,한식
11769,아우내병천집순대,일반음식점,"충청북도 청주시 청원구 오창읍 중심상업로 32-13, 110, 111, 112호 (...",NaN,NaN,한식
11770,기찬만두,일반음식점,"충청북도 청주시 청원구 주성로118번길 29-2, 102호 (율량동)",NaN,NaN,호프/통닭
11771,우암고향왕족발보쌈,일반음식점,"충청북도 청주시 청원구 직지대로832번길 21, 1층 (우암동)",NaN,NaN,한식
11772,미스문 컴패니,일반음식점,충청북도 청주시 청원구 내수읍 충청대로 412-5,NaN,NaN,한식

In [39]:
## drop하면 n번 행이 사라짐 -> 원본에는 영향 x 
df_new.drop(1).head() ## head() 안에 아무 값도 안 넣으면 기본값은 5개
#df_new.drop(1,inplace= True) ## 실제 원본데이터 삭제 
#df+new.drop("소재지(지번)",axis(1)) ## 이름으로도 삭제 가능 (axis(1) = 열을 기준)

,업소명,업종명,소재지(도로명),소재지(지번),소재지전화,업태명
0,여자만궁중칼국수,일반음식점,충청북도 청주시 상당구 가덕면 미천고은로 114,충청북도 청주시 상당구 가덕면 국전리 226,043 -292 -4566,한식
2,청남대화련가든,일반음식점,NaN,충청북도 청주시 상당구 가덕면 국전리 233-1 2층,043 -298 -4500,한식
3,광동성,일반음식점,충청북도 청주시 상당구 가덕면 단재로 1625,충청북도 청주시 상당구 가덕면 금거리 161-1,043- 298-3995,한식
4,퇴근길호프,일반음식점,충청북도 청주시 상당구 가덕면 단재로 1458,충청북도 청주시 상당구 가덕면 병암리 118-5,043- 254-8583,패스트푸드
5,가덕반점,일반음식점,충청북도 청주시 상당구 가덕면 병암3길 11-2,충청북도 청주시 상당구 가덕면 병암리 137-9,043- 254-5271,중국식

In [49]:
## 그룹별 집계 

import pandas as pd # pandas 모듈 호출
import numpy as np # numpy 모듈 호출

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings', 'Kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
            'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
            'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
            'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

df = pd.DataFrame(ipl_data) # 데이터 프레임 형태로
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [50]:
df.groupby("Team")["Points"].mean() ## points 기준으로 sum 연산 (sum, count, mean) 가능

Team
Devils    768.00
Kings     774.25
Riders    762.25
Royals    752.50
Name: Points, dtype: float64

In [51]:
multi_groupby = df.groupby(["Team", "Year"])["Points"].sum() ##df(데이터 프레임 객체)를 "Team","Year"에 따라 그룹화 "Points"열은 연산의 대상
multi_groupby

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2015    812
        2016    756
        2017    788
Riders  2014    876
        2015    789
        2016    694
        2017    690
Royals  2014    701
        2015    804
Name: Points, dtype: int64

In [46]:
multi_groupby = df.groupby(["Team", "Year"])["Points"].sum() # multi_groupby 변수에는 Team,Year을 키 값으로 가지는 계층적 인덱스가 나타남 
multi_groupby.index

MultiIndex([('Devils', 2014),
            ('Devils', 2015),
            ( 'Kings', 2014),
            ( 'Kings', 2016),
            ( 'Kings', 2017),
            ('Riders', 2014),
            ('Riders', 2015),
            ('Riders', 2016),
            ('Riders', 2017),
            ('Royals', 2014),
            ('Royals', 2015),
            ( 'kings', 2015)],
           names=['Team', 'Year'])

In [54]:
multi_groupby["Devils":"Kings"]

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2015    812
        2016    756
        2017    788
Name: Points, dtype: int64

In [55]:
multi_groupby.unstack()

Year     2014   2015   2016   2017
Team
Devils  863.0  673.0    NaN    NaN
Kings   741.0  812.0  756.0  788.0
Riders  876.0  789.0  694.0  690.0
Royals  701.0  804.0    NaN    NaN

In [76]:
multi_groupby.swaplevel(0,1).sort_index() # 특정 레벨을 교환 가능함 레벨 3까지 있다고 할 때 swap(1,3)이라고 하면 1레벨 과 3레벨 교환 
# == multi_groupby.swapleve().sort_index()

Year  Team
2014  Devils    863
      Kings     741
      Riders    876
      Royals    701
2015  Devils    673
      Kings     812
      Riders    789
      Royals    804
2016  Kings     756
      Riders    694
2017  Kings     788
      Riders    690
Name: Points, dtype: int64

In [80]:
# multi_groupby.sum(level=0) ## 구 버전 모드
# multi_groupby.groupby(level=0).sum() ## 최신 버전 
multi_groupby.groupby(level=1).mean()

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64